/* Google fonts oooooooo*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables weeeeeee */
:root {
    --primary: #7b4b2d;
    --primary-light: #8c5c3c;
    --primary-dark: #4b3637;
    --light: #ffffff;
    --dark: #363029;
    --muted: #efe1cb;
    --muted-light: #fff3eb;
    --muted-dark: #bcb1a8;

    --font-normal: Roboto, Arial sans-serif;
    --font-heading: "Noto Serif", serif;

    --space-0: 0;
    --space-1: 0.5rem; /*8 px*/
    --space-2: 1rem; /*16 px*/
    --space-3: 2rem; /*32 px*/

    --shadow-dark: 0 0.1rem 0.2rem 0.2rem rgba(54, 48, 41, 0.2);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-normal);
    text-align: center;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}

main{
    padding-left: 15%;
    padding-right: 15%;
}

/*************************** COLORS ***************************/
.bg-primary{background-color: var(--primary);}
.bg-light{background-color: var(--light);}
.bg-dark{background-color: var(--dark);}
.bg-muted{background-color: var(--muted);}

.text-primary{color: var(--primary);}
.text-light{color: var(--light);}
.text-dark{color: var(--dark);}
.text-muted{color: var(--muted);}

/*************************** SPACING ***************************/
.m-0{margin: var(--space-0);}
.m-1{margin: var(--space-1);}
.m-2{margin: var(--space-2);}
.m-3{margin: var(--space-3);}

.p-0{padding: var(--space-0);}
.p-1{padding: var(--space-1);}
.p-2{padding: var(--space-2);}
.p-3{padding: var(--space-3);}

.gap-0{gap: var(--space-0);}
.gap-1{gap: var(--space-1);}
.gap-2{gap: var(--space-2);}
.gap-3{gap: var(--space-3);}

.d-flex{display: flex;}
.flex-between{justify-content: space-between;}
.left-align{text-align: left;}

.grid{display: grid;}

.grid-2col{
    grid-template-columns: repeat(2, 1fr);
}

.grid-3col{
    grid-template-columns: 1fr 2fr 1fr;
}

.grid-4col{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*************************** SWATCHES ***************************/
.swatches{
    justify-content: center;
}

.swatch{
    padding: 2%;
    outline: 2px black solid;
}

.swatch .swatch-value{
    width: 8rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    box-shadow: var(--shadow-dark);
}

.swatch .swatch-name{
    text-align: center;
}
/*************************** BUTTONS ***************************/
.btn{
    border: none;
    border-radius: var(--space-2);
    padding: var(--space-1) var(--space-2);
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--light);
}

.btn-secondary{
    background-color: var(--muted);
    color: var(--dark);
}

.btn-primary:hover{
    background-color: var(--primary-light);
    color: var(--light);
}


.btn-secondary:hover{
    background-color: var(--muted-light);
}

.btn-primary:active{
    background-color: var(--primary-dark);
}

.btn-secondary:active{
    background-color: var(--muted-dark);
}

.link{
    color: var(--primary);
    text-decoration: underline;
}

.link:hover{
    color: var(--dark);
}
/*************************** PRODUCTS ***************************/
.product-image{position: relative;}

.product-image{
    outline: 3px solid var(--light);
    box-shadow: var(--shadow-dark);
    border-radius: var(--space-1);
}

.product-image .product-tag{
    background-color: var(--dark);
    color: var(--light);

    padding: var(--space-1)/2;
    border-radius: var(--space-1);

    position: absolute;
    top: var(--space-2);
    left: var(--space-2);
}

.product-image img{
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
}