/* Google fonts oooooooo*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables weeeeeee */
:root {
    --primary: #7b4b2d;
    --light: #ffffff;
    --dark: #363029;
    --muted: #efe1cb;

    --font-normal: Roboto, Arial sans-serif;
    --font-heading: "Noto Serif", serif;

    --space-0: 0;
    --space-1: 0.5rem; /*8 px*/
    --space-2: 1rem; /*16 px*/
    --space-3: 2rem; /*32 px*/
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-normal);
    text-align: center;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}

main{
    padding-left: 15%;
    padding-right: 15%;
}

/*************************** COLORS ***************************/
.bg-primary{background-color: var(--primary);}
.bg-light{background-color: var(--light);}
.bg-dark{background-color: var(--dark);}
.bg-muted{background-color: var(--muted);}

.text-primary{color: var(--primary);}
.text-light{color: var(--light);}
.text-dark{color: var(--dark);}
.text-muted{color: var(--muted);}

/*************************** SPACING ***************************/
.m-0{margin: var(--space-0);}
.m-1{margin: var(--space-1);}
.m-2{margin: var(--space-2);}
.m-3{margin: var(--space-3);}

.p-0{padding: var(--space-0);}
.p-1{padding: var(--space-1);}
.p-2{padding: var(--space-2);}
.p-3{padding: var(--space-3);}

.gap-0{gap: var(--space-0);}
.gap-1{gap: var(--space-1);}
.gap-2{gap: var(--space-2);}
.gap-3{gap: var(--space-3);}

.box{
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(54, 48, 41, 0.2);
}

/*************************** SWATCHES ***************************/
.swatches{
    display: flex;
    justify-content: center;
}

.swatch{
    padding: 2%;
    outline: 2px black solid;
}

.swatch .swatch-value{
    width: 8rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-name{
    text-align: center;
}