*{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
}

/*************************** SWATCHES ***************************/
.swatch .swatch-value{
    background-color: blue;
    width: 6rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}