/* Google fonts oooooooo*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables weeeeeee */
:root {
    --primary: #7b4b2d;
    --light: #ffffff;
    --dark: #363029;
    --muted: #f8f6f5;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Arial sans-serif;
    text-align: center;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Noto Serif", serif;
    margin-bottom: 0.5rem;
}

main{
    padding-left: 25%;
    padding-right: 25%;
}

/*************************** COLORS ***************************/
.bg-primary{background-color: var(--primary);}
.bg-light{background-color: var(--light);}
.bg-dark{background-color: var(--dark);}
.bg-muted{background-color: var(--muted);}

.text-primary{color: var(--primary);}
.text-light{color: var(--light);}
.text-dark{color: var(--dark);}
.text-muted{color: var(--muted);}

/*************************** SWATCHES ***************************/
.swatches{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.swatch{
    padding: 2%;
    outline: 2px black solid;
}

.swatch .swatch-value{
    width: 6rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.2rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-name{
    text-align: center;
}